@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, small, strong, dl, dt, dd, ol, ul, li {
    margin: 0;
    padding: 0;
    font-size: 100%;
}
em, strong, i {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
html {
    box-sizing: border-box;
    overflow-x: hidden;
    @include scrollBar;
}
body {
    width: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    background-color: #fff;
}
#app {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
}
input, button {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}
img {
    vertical-align: top;
    border: 0;
    max-width: 100%;
}

/*伪元素是行内元素 正常浏览器清除浮动方法*/
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1; /*ie6清除浮动的方式 *号只有IE6-IE7执行，其他浏览器不执行*/
}

// 图片预览样式
.pswp {
    z-index: 99999 !important;
}
