/**
 常用颜色变量表
 */

@import "./_color.scss";

/**
light theme
 */
// 主色
$light-theme-color: $Lb5_u;
// 文字色
$light-text-color1: $Ba1_u;
$light-text-color2: $Ba2_u;
$light-text-color3: $Ga6_u;
$light-text-color4: $Ga5_u;
$light-text-color5: $Ga3_u;
$light-text-color6: $Ga1_u;
$light-text-color7: $Ga7_u;
// 背景色
$light-background-color1: $Wh0_u;
$light-background-color2: $Ga0_u;
$light-background-color3: $Ga1_u;
$light-background-color4: $Ga2_u;
$light-background-color5: $Ga3_u;
$light-background-color6: $Ga4_u;
$light-background-color7: $Ga5_u;
$light-background-color8: rgba($Ba0_u, .9);
$light-background-color9: $Ba2_u;
$light-background-color10: rgba($Ba0_u, .35);
// 阴影
$light-box-shadow1: 0 1px 8px 0 rgba($Ba0_u, .1);
$light-box-shadow2: 0 2px 16px 0 rgba($Ba0_u, .2);
$light-box-shadow3: 0 2px 10px 1px rgba($Ba0_u, .1);
$light-box-shadow4: 0 1px 8px 0 rgba($Ba0_u, .1);
$light-box-shadow5: 0 2px 16px 0 rgba($Ba0_u, .2);
$light-box-shadow6: 0 2px 10px 1px rgba($Ba0_u, .1);
// 边框色
$light-border-color1: $Ga0_u;
$light-border-color2: $Ga2_u;
$light-border-color3: $Ga5_u;
$light-border-color4: $Ga7_u;
$light-border-color5: $Ga9_u;
$light-border-color6: $Ga10_u;
// 文字阴影
$light-text-shadow1: 2px 2px 1px rgba($Ba0_u, .15);


/**
dark theme
 */
// 主色
$dark-theme-color: red;
// 文字色
$dark-text-color1: $Ba0_u;
$dark-text-color2: $Ba1_u;
$dark-text-color3: $Ba2_u;
$dark-text-color4: #999;
$dark-text-color5: #18191C;
$dark-text-color6: #999;
// 背景色
$dark-background-color1: $Wh0_u;
$dark-background-color2: $Ga4_u;
$dark-background-color3: $Ga6_u;
$dark-background-color4: rgba($Ba0_u, .35);
$dark-background-color5: $Ba2_u;
$dark-background-color6: rgba($Ba0_u, .35);
// 阴影
$dark-box-shadow1: 0 1px 8px 0 rgba($Ba0_u, .1);
$dark-box-shadow2: 0 2px 16px 0 rgba($Ba0_u, .2);
$dark-box-shadow3: 0 2px 10px 1px rgba($Ba0_u, .1);
$dark-box-shadow4: 0 1px 8px 0 rgba($Ba0_u, .1);
$dark-box-shadow5: 0 2px 16px 0 rgba($Ba0_u, .2);
$dark-box-shadow6: 0 2px 10px 1px rgba($Ba0_u, .1);
// 边框色
$dark-border-color1: $Ga0_u;
$dark-border-color2: $Ga3_u;
$dark-border-color3: $Ga5_u;
$dark-border-color4: $Ga7_u;
$dark-border-color5: $Ga9_u;
$dark-border-color6: $Ga10_u;
