@font-face {
    font-family: "iconfont"; /* Project id 2097015 */
    src: url('iconfont.woff2?t=1629110495231') format('woff2'),
    url('iconfont.woff?t=1629110495231') format('woff'),
    url('iconfont.ttf?t=1629110495231') format('truetype');
}

[class^="el-icon-third"], [class*=" el-icon-third"] {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.el-icon-third-yanzhengma:before {
    content: "\e6a0";
}

.el-icon-third-yonghu:before {
    content: "\e638";
}

.el-icon-third-yanjing:before {
    content: "\e611";
}

.el-icon-third-yanjing_bi:before {
    content: "\e61b";
}

.el-icon-third-lock:before {
    content: "\e6d5";
}

.el-icon-third-biaoqing:before {
    content: "\e681";
}

.el-icon-third-github:before {
    content: "\e7ab";
}

.el-icon-third-huifushanchu:before {
    content: "\e7f3";
}

.el-icon-third-huishouzhan1:before {
    content: "\e61e";
}

.el-icon-third-rotateright:before {
    content: "\e847";
}

.el-icon-third-rotateleft:before {
    content: "\e62c";
}

.el-icon-third-nvxing:before {
    content: "\e61c";
}

.el-icon-third-nanxing:before {
    content: "\e61a";
}

.el-icon-third-fenleiguanli:before {
    content: "\e60f";
}

.el-icon-third-svgwrite:before {
    content: "\e650";
}

.el-icon-third-yonghuguanli:before {
    content: "\e642";
}

.el-icon-third-shouye:before {
    content: "\e77e";
}

.el-icon-third-xin:before {
    content: "\e75f";
}

.el-icon-third-biaoqian:before {
    content: "\e602";
}

.el-icon-third-zhuxiaodenglu:before {
    content: "\e617";
}

.el-icon-third-yuan:before {
    content: "\e655";
}

.el-icon-third-android:before {
    content: "\e663";
}

.el-icon-third-apple:before {
    content: "\e670";
}

.el-icon-third-theme:before {
    content: "\e66f";
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-yanzhengma:before {
    content: "\e6a0";
}

.icon-yonghu:before {
    content: "\e638";
}

.icon-yanjing:before {
    content: "\e611";
}

.icon-yanjing_bi:before {
    content: "\e61b";
}

.icon-lock:before {
    content: "\e6d5";
}

.icon-biaoqing:before {
    content: "\e681";
}

.icon-github:before {
    content: "\e7ab";
}

.icon-huifushanchu:before {
    content: "\e7f3";
}

.icon-huishouzhan1:before {
    content: "\e61e";
}

.icon-rotateright:before {
    content: "\e847";
}

.icon-rotateleft:before {
    content: "\e62c";
}

.icon-nvxing:before {
    content: "\e61c";
}

.icon-nanxing:before {
    content: "\e61a";
}

.icon-fenleiguanli:before {
    content: "\e60f";
}

.icon-svgwrite:before {
    content: "\e650";
}

.icon-yonghuguanli:before {
    content: "\e642";
}

.icon-shouye:before {
    content: "\e77e";
}

.icon-xin:before {
    content: "\e75f";
}

.icon-biaoqian:before {
    content: "\e602";
}

.icon-zhuxiaodenglu:before {
    content: "\e617";
}

.icon-yuan:before {
    content: "\e655";
}

.icon-android:before {
    content: "\e663";
}

.icon-apple:before {
    content: "\e670";
}

.icon-theme:before {
    content: "\e66f";
}

