@import "index";
.wrapper {
    position: relative;
    display: flex;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .wrap_con {
        flex: 1;
    }

    .container {
        position: relative;
        height: 100%;
        width: 90%;
        min-width: 320px;
        max-width: 1200px;
        margin: 0 auto;
        overflow-y: auto;
        overflow-x: hidden;

        .content {
            position: relative;
            width: 100%;
            overflow: hidden;
        }
    }
}

.article_wrapper {
    padding: 40px 30px;
    transition: .3s;

    .article_content {
        position: relative;
        margin: 40px 0;
        padding: 40px 30px 40px 40px;
        border-radius: 5px;
        box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.15);
        transition: .3s;

        .article_title {
            text-align: center;
            font-size: 30px;
            font-weight: 600;
        }

        .article_subtitle {
            margin: 10px 0;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            font-family: '楷体';
            color: rgba(0, 0, 0, .65);
        }

        .article_info {
            text-indent: 2em;
            font-size: 16px;
            font-weight: 400;
            font-family: '新宋体';
            line-height: 22px;
        }

        .article_more {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #666;
            margin: 10px;

            .icon {
                margin: 0 5px;
            }

            .el-icon-third-yuan {
                font-size: 12px;
                transform: scale(0.5);
            }

            .underline {
                margin-right: 5px;
                position: relative;
                border-bottom: 1px solid #222;
                cursor: pointer;
            }
        }

        .article_body {
            margin: 30px 0;
        }
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        display: block;
    }
    .article_wrapper {
        padding: 20px 15px;

        .article_content {
            margin: 20px 0;
        }
    }
}
